@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <h1>C# Minifier Demo</h1>
        <a href="https://github.com/atifaziz/CSharpMinifier" target="about-csmin" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
